SOAP RPC/SensorClient/xml-resources/web-service-references/SensorService/wsdl/localhost_8080/MeteoWS/SensorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw.dz1.rassus.fer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw.dz1.rassus.fer/" name="SensorService">
<types>
<xsd:schema>
<xsd:import namespace="http://sw.dz1.rassus.fer/" schemaLocation="http://localhost:8080/MeteoWS/SensorService?xsd=1"/>
</xsd:schema>
</types>
<message name="storeMeasurement">
<part name="parameters" element="tns:storeMeasurement"/>
</message>
<message name="storeMeasurementResponse">
<part name="parameters" element="tns:storeMeasurementResponse"/>
</message>
<message name="searchNeighbour">
<part name="parameters" element="tns:searchNeighbour"/>
</message>
<message name="searchNeighbourResponse">
<part name="parameters" element="tns:searchNeighbourResponse"/>
</message>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<portType name="SensorService">
<operation name="storeMeasurement">
<input wsam:Action="http://sw.dz1.rassus.fer/SensorService/storeMeasurementRequest" message="tns:storeMeasurement"/>
<output wsam:Action="http://sw.dz1.rassus.fer/SensorService/storeMeasurementResponse" message="tns:storeMeasurementResponse"/>
</operation>
<operation name="searchNeighbour">
<input wsam:Action="http://sw.dz1.rassus.fer/SensorService/searchNeighbourRequest" message="tns:searchNeighbour"/>
<output wsam:Action="http://sw.dz1.rassus.fer/SensorService/searchNeighbourResponse" message="tns:searchNeighbourResponse"/>
</operation>
<operation name="register">
<input wsam:Action="http://sw.dz1.rassus.fer/SensorService/registerRequest" message="tns:register"/>
<output wsam:Action="http://sw.dz1.rassus.fer/SensorService/registerResponse" message="tns:registerResponse"/>
</operation>
</portType>
<binding name="SensorServicePortBinding" type="tns:SensorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="storeMeasurement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchNeighbour">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SensorService">
<port name="SensorServicePort" binding="tns:SensorServicePortBinding">
<soap:address location="http://localhost:8080/MeteoWS/SensorService"/>
</port>
</service>
</definitions>